# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
wheels/
*.log

# ------------------------
# Virtual Environments
# ------------------------
.venv/
venv/
ENV/
env/
**/.venv/
**/venv/

# ------------------------
# Jupyter Notebook
# ------------------------
.ipynb_checkpoints

# ------------------------
# Environment variables
# ------------------------
.env
.env.*
*.env

# ------------------------
# IDE configs
# ------------------------
.idea/
.vscode/
*.iml

# ------------------------
# Mac / Windows system files
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Project runtime data
# ------------------------
M01_Basic_Python/07_modules_packages/step07_json_pickle/app/data/*.json
M01_Basic_Python/07_modules_packages/step07_json_pickle/app/data/*.pkl
